body {
    font-family: helvetica;
}

.header-box {
  display: flex;
  margin: auto;
  width: 80%;
  height: 80px;
  /* border: 1px solid black; */
}

.title {
  font-size: 30px
}

.calendar-day {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 14.286%;
  border: 1px solid black;
  margin: auto;
}

.week-day {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.calendar-box {
  display: flex;
  width: 100%;
  margin: auto;
  height: 900px;
}

.times-container {
  display: flex;
  flex-direction: column;
  width: 9.9%;
  height: 100%;
  margin-top: -7px;
  /* border: 1px solid black; */
}

.week-row-container {
  display: flex;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  /* margin-top: 7px; */
}

.time-text {
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
  height: 4.167%;
}

.week-row {
  display: flex;
  /* flex-wrap: nowrap;
  justify-content: center; */
  flex-direction: column;
  height: 100%;
  width: 14.286%;
  border: 1px solid black;
  margin: auto;
}

.fifteen-min-block {
  display: flex;
  width: 100%;
  height: 1.041%;
  /* border: 1px solid black */
}

.fifteen-min-block:nth-child(4n+0) {
  border-bottom: 1px solid black;
}